{
  "env": {
    "development": {
      "optional": [
        "runtime",
        "es7.asyncFunctions",
        "es7.classProperties",
        "es7.decorators",
        "es7.exportExtensions",
        "es7.objectRestSpread"
      ],
      "plugins": []
    },
    "production": {
      "optional": [
        "runtime",
        "es7.asyncFunctions",
        "es7.classProperties",
        "es7.decorators",
        "es7.exportExtensions",
        "es7.objectRestSpread"
      ],
      "plugins": []
    }
  }
}
