/**
 * clearfix
 */

.u-cf {
  zoom: 1; /*IE*/
}
.u-cf:before,
.u-cf:after {
  content: "";
  display: table;
}
.u-cf:after {
  clear: both;
}

/**
 * `grabbing` cursor
 */

.u-grabbing {
  cursor: grabbing !important;
}
